@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-black);
}

:root {
  --color-white: #fbfaff;
  --color-bg: #f0eefc;
  --color-blue: #6e65ed;
  --color-grey: #b7b6bd;
  --color-black: #1c1e35;
}


